<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>BoxBot Battle</title>
</head>
<body>
    <h1>Oficina de Robôs</h1>
    <h2>Personalize o seu boxbot!</h2>
</body>
</html>