<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>BotBox</title>
</head>
<body>
<header>
    <h1>Bem vindo ao BotBox Battle!</h1>
</header>
<section>
    <form action="login" method="post">
        <label for="email">Nome ou email: </label><br/><input type="text" name="email" id="email" maxlength="50" size="30" required /><br/>
        <label for="password">Senha: </label><br/><input type="password" name="password" id="password" maxlength="50" size="30" required /><br/>
        <br/>
        <input type="submit" value="Entrar"/> <input type="button" value="Cadastre-se" onclick="location.href='/cadastrar'"/>
    </form>

</section>
</body>
</html>