<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastre-se</title>
</head>
<body>
<header>
    <h1>Bem vindo ao BotBox Battle!</h1>
    <h2>Cadastro</h2>
</header>
<section>
    <form action="register" method="post">
        <label for="name">Nome: </label><br/><input type="text" name="name" id="name" maxlength="25" size="30" required /><br/>
        <label for="email">Email: </label><br/><input type="text" name="email" id="email" maxlength="50" size="30" required /><br/>
        <label for="password">Senha: </label><br/><input type="password" name="password" id="password" maxlength="50" size="30" required /><br/>
        <label for="confirm_password">Confirmação de Senha: </label><br/><input type="password" name="confirm_password" id="confirm_password" maxlength="50" size="30" required /><br/>
        <br/>
        <input type="submit" value="Cadastrar"/>
    </form>
</section>
</body>
</html>