<% include ../header %>
        <header>
            <h1>Ntalk</h1>
            <h4>Bem-vindo!</h4>
        </header>
        <section>
            <form name="usuario" action="/entrar" method="post">
                <input type="text" name="nome" placeholder="Seu nome">
                <br>
                <input type="email" name="email" placeholder="Seu e-mail">
                <br>
                <button type="submit">Entrar</button>
            </form>
        </section>
<% include ../footer %>