<% include ../header.ejs %>
<header>
    <h2>Ntalk - Agenda de contatos</h2>
</header>
<section>
    <form action="/contatos" method="post">
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="email" placeholder="E-mail">
        <button type="submit">Cadastrar</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        <% contatos.forEach(function(contato) { %>
        <tr>
            <td><%- contato.nome %></td>
            <td><%- contato.email %></td>
            <td><span id="notify_<%- contato.email %>">Offline</span></td>
            <td>
                <a href="/contato/<%- contato._id %>">Detalhes</a>
                <a href="/chat/<%- contato.email %>"
                   id="chat_<%- contato.email %>">
                    Conversar
                </a>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</section>
<% include notify_script.ejs %>
<% include ../exit.ejs %>
<% include ../footer.ejs %>