<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script type="application/javascript">
    var socket = io.connect('http://192.168.1.11:3000');

    var notify = function (data) {
        var id = 'notify_' + data.el;
        var notify = document.getElementById(id);
        if (notify) {
            notify.textContent = data.msg;
        }
    }

    socket.on('notify-offline', function (email) {
        notify({el: email, msg: 'Offline'});
    });

    socket.on('notify-onlines', function (email) {
        notify({el: email, msg: 'Online'});
    });

    socket.on('new-message', function (data) {
        notify({el: data.email, msg: 'Mensagem'});
        var chat = document.getElementById('chat_' + data.email);

        chat.href += '?' + data.sala;
    });
</script>