<% include ../header.ejs %>
<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io.connect('http://192.168.1.11:3000');

    socket.on('connect', function () {
        console.log("connect");
        try {
            socket.emit('join', location.href.split('?')[1]);
        } catch (err) {
            socket.emit('join');
        }

    });

    socket.on('send-client', function (msg) {
        document.getElementById('chat').innerHTML += msg;
    });

    var enviar = function () {
        var msg = document.getElementById('msg').value;
        document.getElementById('msg').value = '';
        socket.emit('send-server', msg);
    };

    var sendIfEnter = function (event) {
        if (event.keyCode == 13) {
            enviar();
        }
    };
</script>
<header>
    <h2>Ntalk - Chat</h2>
</header>
<section>
    <pre id="chat"></pre>
    <input type="text" id="msg" placeholder="Mensagem" onkeypress="sendIfEnter(event);">
    <button onclick="enviar();">Enviar</button>
</section>
<% include ../exit.ejs %>
<% include ../footer.ejs %>